<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Create user</title>
</head>
<body>
<div th:replace="~{page-templates :: navbar}"></div>
<div>
    <div th:replace="~{page-templates :: main-text}"></div>
    <div>
        <h2>Регистрация нового пользователя:</h2>
        <form action="#" th:action="@{/registration}" th:object="${user}" method="post">
            <div>
                <label for="name">Имя пользователя: </label>
                <input type="text" th:field="*{name}" id="name" placeholder="Имя пользователя">
            </div>
            <div>
                <label for="email">Email: </label>
                <input type="email" th:field="*{email}" id="email" placeholder="Email">
            </div>
            <div>
                <label for="password">Пароль:</label>
                <input type="password" id="password" name="password"/>
            </div>
            <input type="submit" value="Зарегистрироваться">
        </form>
    </div>
    <div th:replace="~{page-templates :: footer}"></div>
</div>
</body>
</html>